body {
  background-color: #FDF8EA;
  margin: 0;
  font-size: 14px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.post {
  .meta {
    background-color: #EDF3F5;
    height: 40px;

    .avatar {
      margin: 5px 10px 5px 10px;
      width: 30px;
      float: left;
      img {
        border-radius: 4px;
        $size: 30px;
        width: $size;
        height: $size;
      }
    }
    .info{
      margin-left: 50px;
      width: auto;

      .row-1 {
        padding-top: 5px;
      }

      .row-2 {
        .left {
          float: left;
          width: auto;
          margin-right: 60px;
          .time, .device {
            font-size: 11px;
            color:#9B9B9B;
          }
        }

        .counts {
          float: right;
          padding-right: 10px;
          display: inline;

          .float-right {
            float:right;
          }

          .count {
            display: inline-block;
            .icon {
              $size: 12px;
              width: $size;
              height: $size;
              float:left;
            }
            span {
              display: block;
              margin-left: 8px;
              font-size: 10px;
              padding-top: 1px;
              float:left;
            }
            &.fav-count .icon {
              $size: 13px;
              width: $size;
              height: $size;
            }
            &.appr-count {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .content {
    padding: 10px;
    word-wrap: break-word;
    &, div {
      font-size: 14px;
    }

    img {
      max-width: 100%;
    }
  }
}