body {
  background-color: #FDF8EA;
  margin: 0;
  font-size: 14px;
  font-family: 'STHeitiSC-Light'; }

.topic .title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px; }

.topic .post .meta {
  background-color: #EDF3F5;
  height: 40px; }
  .topic .post .meta .avatar {
    margin: 5px 10px 5px 10px;
    width: 30px;
    float: left; }
    .topic .post .meta .avatar img {
      border-radius: 4px;
      width: 30px;
      height: 30px; }
  .topic .post .meta .info {
    width: auto; }
    .topic .post .meta .info .row-1 {
      padding-top: 5px; }
      .topic .post .meta .info .row-1.ios-9 {
        padding-top: 1px; }
      .topic .post .meta .info .row-1 a {
        color: #000000;
        text-decoration: none; }
    .topic .post .meta .info .row-2 {
      margin-top: 3px; }
      .topic .post .meta .info .row-2 .left {
        float: left;
        width: auto;
        margin-right: 60px; }
        .topic .post .meta .info .row-2 .left .time, .topic .post .meta .info .row-2 .left .device {
          font-size: 11px;
          color: #9B9B9B; }
      .topic .post .meta .info .row-2 .counts {
        float: right;
        padding-right: 10px;
        display: inline; }
        .topic .post .meta .info .row-2 .counts .float-right {
          float: right; }
        .topic .post .meta .info .row-2 .counts .count {
          display: inline-block; }
          .topic .post .meta .info .row-2 .counts .count .icon {
            width: 12px;
            height: 12px;
            float: left; }
          .topic .post .meta .info .row-2 .counts .count span {
            display: block;
            margin-left: 8px;
            font-size: 10px;
            padding-top: 1px;
            float: left;
            color: #9B9B9B; }
          .topic .post .meta .info .row-2 .counts .count.fav-count .icon {
            width: 13px;
            height: 13px; }
          .topic .post .meta .info .row-2 .counts .count.fav-count span {
            padding-top: 2px; }
          .topic .post .meta .info .row-2 .counts .count.appr-count {
            margin-left: 10px; }

.topic .post .content {
  padding: 10px;
  word-wrap: break-word; }
  .topic .post .content, .topic .post .content div {
    font-size: 14px; }
  .topic .post .content a {
    color: #778087; }
  .topic .post .content img {
    max-width: 100% !important; }

.node-list .node-category .category-name {
  clear: both;
  background: #EDF3F5;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 5px; }

.node-list .node-category .list {
  margin: 0 10px 0 10px; }
  .node-list .node-category .list .node {
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    /* BG: */
    background: #FFFFFF;
    border: 1px solid #CDCAC7;
    border-radius: 100px;
    /* 10:20:10:20: */
    font-size: 14px;
    color: #333333;
    line-height: 14px; }
    .node-list .node-category .list .node a {
      text-decoration: none;
      color: #000000;
      margin: 0 5px 0 5px; }
